.masthead {
background:#43413e;
color:#FFF
}

.header {
height:90px
}

.nav-main {
text-align:right;
padding-top:36px
}

.nav-main li {
display:inline
}

.nav-main a {
color:#e1e0dc;
text-decoration:none;
font-weight:700;
text-transform:uppercase;
margin:0 1em
}

.nav-main a:hover {
color:#FFF
}
