# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# TAB indentation
[*.js]
indent_style = tab
indent_size = 4
indent_key_invoke = $TAB