.DS_Store
*.pro.user*
*.xcodeproj
Makefile*
bin/phantomjs
*~
*.moc
moc_*
qrc_*
*.o
*.swp
*.pyc
*.a
debian/*.debhelper
debian/files
debian/*.log
debian/*.substvars
debian/*/
/deploy/qt-*.tar.gz
/deploy/Qt-*
/symbols
src/qt/qtc-debugging-helper

# ignore ctags
/tags
tools/dump_syms.app/
