pre.prettyprint {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 19px;
    margin-right: 80px;
    margin-left: 40px;
}
