# This file is used to ignore files which are generated in the Qt build system
# ----------------------------------------------------------------------------

examples/*/*/*
!examples/*/*/*[.]*
!examples/*/*/README
!examples/*/doc/*
!examples/*/doc/*/*
examples/*/*/*[.]app
!examples/declarative/*
examples/tutorials/*/*/*
!examples/tutorials/*/*/*[.]*
!examples/tutorials/*/*/README
!examples/tutorials/*
!examples/tutorials/*/*
!examples/ja_JP/*/*
demos/*/*
!demos/spectrum/*
demos/spectrum/bin
!demos/*/*[.]*
demos/*/*[.]app
!demos/declarative/*
config.tests/*/*/*
!config.tests/*/*/*[.]*
config.tests/*/*/*[.]app

callgrind.out.*
pcviewer.cfg
*~
*.a
*.la
*.core
*.d
*.dylib
*.moc
*.o
*.obj
*.orig
*.swp
*.rej
*.so
*.so.*
*.pbxuser
*.mode1
*.mode1v3
*_pch.h.cpp
*_resource.rc
.#*
*.*#
core
.qmake.cache
.qmake.vars
.device.vars
*.prl
tags
.DS_Store
*.debug
Makefile*
!qmake/Makefile.win32*
!qmake/Makefile.unix
*.prl
*.app
*.pro.user*
*.qmlproject.user*
*.gcov
*.gcda
*.gcno
bin/*.dll
bin/assistant*
bin/designer*
bin/dumpcpp*
bin/idc*
bin/jsondb*
bin/linguist*
bin/lrelease*
bin/lupdate*
bin/lconvert*
bin/moc*
bin/makeqpf*
bin/pixeltool*
bin/qmake*
bin/qdoc*
bin/qt3to4*
bin/qtdemo*
bin/qttracereplay*
bin/rcc*
bin/uic*
bin/patternist*
bin/phonon*
bin/qcollectiongenerator*
bin/qdbus*
bin/qhelpconverter*
bin/qhelpgenerator*
bin/qglinfo*
bin/qtconfig*
bin/xmlpatterns*
bin/cetest*
bin/collectiongenerator
bin/helpconverter
bin/helpgenerator
bin/kmap2qmap*
bin/qlalr*
bin/qmlconv*
bin/qmldebugger*
bin/qml*
bin/qttracereplay*
bin/qt.conf
bin/servicefw*
bin/sfwlisten*
configure.cache
config.status
config.summary
mkspecs/default
mkspecs/default-host
mkspecs/qconfig.pri
mkspecs/qdevice.pri
mkspecs/qfeatures.pri
moc_*.cpp
qmake/qmake.exe
qmake/Makefile.bak
qmake/qmake_pch.pch
src/corelib/global/qconfig.cpp
src/corelib/global/qconfig.h
src/corelib/global/qconfig.h.qmake
src/corelib/global/qfeatures.h
src/platformsupport/*_interface.*
src/platformsupport/*_adaptor.*
ui_*.h
tests/auto/qprocess/test*/*.exe
tests/auto/qtcpsocket/stressTest/*.exe
tests/auto/qprocess/fileWriterProcess/*.exe
tests/auto/qmake/testdata/quotedfilenames/*.exe
tests/auto/compilerwarnings/*.exe
tests/auto/qmake/testdata/quotedfilenames/test.cpp
tests/auto/qprocess/fileWriterProcess.txt
tests/auto/corelib/mimetypes/qmimedatabase/qmimedatabase-cache/mime/
tests/auto/corelib/mimetypes/qmimedatabase/qmimedatabase-xml/mime/
.com.apple.timemachine.supported
tests/auto/qlibrary/libmylib.so*
tests/auto/qresourceengine/runtime_resource.rcc
tools/activeqt/testcon/testcon.tlb
translations/*.qm
translations/*_untranslated.ts
qrc_*.cpp

# Test generated files
QObject.log
tst_*
!tst_*.*
tst_*.log
tst_*.debug
tst_*~
tests/auto/cmake/build

# xemacs temporary files
*.flc

# Vim temporary files
.*.swp

# Visual Studio generated files
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe.embed.manifest
*.exe_manifest.rc
*.exe_manifest.res

# MinGW generated files
*.Debug
*.Release

# WebKit temp files
src/3rdparty/webkit/WebCore/mocinclude.tmp
src/3rdparty/webkit/includes.txt
src/3rdparty/webkit/includes2.txt

# generated files in configure.exe bootstrapping
tools/configure/configure.intermediate.manifest
tools/configure/configure_pch.pch
/configure.exe

# Symlinks generated by configure
tools/qvfb/qvfbhdr.h
tools/qvfb/qlock_p.h
tools/qvfb/qlock.cpp
tools/qvfb/qwssignalhandler.cpp
tools/qvfb/qwssignalhandler_p.h
.DS_Store
.pch
.rcc
*.app
config.status
config.tests/unix/cups/cups
config.tests/unix/getaddrinfo/getaddrinfo
config.tests/unix/getifaddrs/getifaddrs
config.tests/unix/iconv/iconv
config.tests/unix/ipv6/ipv6
config.tests/unix/ipv6ifname/ipv6ifname
config.tests/unix/largefile/largefile
config.tests/unix/nis/nis
config.tests/unix/odbc/odbc
config.tests/unix/openssl/openssl
config.tests/unix/stl/stl
config.tests/unix/zlib/zlib
config.tests/unix/3dnow/3dnow
config.tests/unix/mmx/mmx
config.tests/unix/sse/sse
config.tests/unix/sse2/sse2



# Directories to ignore
# ---------------------

debug
examples/tools/plugandpaint/plugins
include/*
include/*/*
lib/*
imports/*
!lib/fonts
!lib/README
plugins/*/*
release
tmp
doc-build
doc/html/*
doc/qt*/*
doc/qch
doc-build
.rcc
.pch
.metadata
tmp-debug
tmp-debug-shared
tmp-release
tmp-release-shared

qtc-debugging-helper
qtc-qmldump
qtc-qmldbg
src/corelib/lib
src/network/lib
src/xml/lib/

.pc/

# INTEGRITY generated files
*.gpj
*.int
*.ael
*.dla
*.dnm
*.dep
*.map
work


#generated module def and version header files
mkspecs/modules/qt_*.pri
mkspecs/modules-inst/
mkspecs/qmodule.pri

#unit tests libs/plugins
tests/auto/corelib/plugin/qlibrary/libmylib.so2
tests/auto/corelib/plugin/qlibrary/mylib.dl2

#unit tests executables (other than those named tst_*)
tests/auto/testlib/selftests/assert/assert
tests/auto/testlib/selftests/badxml/badxml
tests/auto/testlib/selftests/benchlibcallgrind/benchlibcallgrind
tests/auto/testlib/selftests/benchlibeventcounter/benchlibeventcounter
tests/auto/testlib/selftests/benchliboptions/benchliboptions
tests/auto/testlib/selftests/benchlibtickcounter/benchlibtickcounter
tests/auto/testlib/selftests/benchlibwalltime/benchlibwalltime
tests/auto/testlib/selftests/cmptest/cmptest
tests/auto/testlib/selftests/commandlinedata/commandlinedata
tests/auto/testlib/selftests/crashes/crashes
tests/auto/testlib/selftests/datatable/datatable
tests/auto/testlib/selftests/datetime/datetime
tests/auto/testlib/selftests/differentexec/differentexec
tests/auto/testlib/selftests/exceptionthrow/exceptionthrow
tests/auto/testlib/selftests/expectfail/expectfail
tests/auto/testlib/selftests/failinit/failinit
tests/auto/testlib/selftests/failinitdata/failinitdata
tests/auto/testlib/selftests/fetchbogus/fetchbogus
tests/auto/testlib/selftests/float/float
tests/auto/testlib/selftests/globaldata/globaldata
tests/auto/testlib/selftests/longstring/longstring
tests/auto/testlib/selftests/maxwarnings/maxwarnings
tests/auto/testlib/selftests/multiexec/multiexec
tests/auto/testlib/selftests/qexecstringlist/qexecstringlist
tests/auto/testlib/selftests/singleskip/singleskip
tests/auto/testlib/selftests/skip/skip
tests/auto/testlib/selftests/skipglobal/skipglobal
tests/auto/testlib/selftests/skipinit/skipinit
tests/auto/testlib/selftests/skipinitdata/skipinitdata
tests/auto/testlib/selftests/sleep/sleep
tests/auto/testlib/selftests/strcmp/strcmp
tests/auto/testlib/selftests/subtest/subtest
tests/auto/testlib/selftests/waitwithoutgui/waitwithoutgui
tests/auto/testlib/selftests/warnings/warnings
tests/auto/testlib/selftests/xunit/xunit
tests/auto/corelib/thread/qthreadstorage/crashOnExit
tests/auto/corelib/io/qresourceengine/qresourceengine
tests/auto/corelib/codecs/qtextcodec/echo/echo
tests/auto/corelib/plugin/quuid/testProcessUniqueness/testProcessUniqueness
tests/auto/corelib/io/qlockfile/qlockfiletesthelper/qlockfile_test_helper
tests/auto/corelib/tools/qcommandlineparser/testhelper/qcommandlineparser_test_helper
tests/auto/dbus/qdbusabstractadaptor/qmyserver/qmyserver
tests/auto/dbus/qdbusabstractinterface/qpinger/qpinger
tests/auto/dbus/qdbusabstractinterface/test/pinger_interface.*
tests/auto/dbus/qdbusinterface/qmyserver/qmyserver
tests/auto/gui/kernel/qfileopenevent/qfileopeneventexternal/qfileopeneventexternal
tests/auto/network/bearer/qnetworksession/lackey/lackey
tests/auto/widgets/kernel/qapplication/modal/modal

# Generated static plugin import sources
*_plugin_import.cpp
