<!DOCTYPE html>
<html>
<head>
<title>Test Result Server</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/menu.css" />
</head>
<body>
<h1>Test Result Server</h1>

<div class=login>
    {% if user_email %}
    <span>{{ user_email }}</span>
    {% endif %}
    <span><a href="{{ login_url }}">{{ login_text }}</a></span>
</div>

<h2>Dashboards</h2>
<div>
    <ul>{% for title,link in dashboards %}
        <li>
            <a href="{{ link }}" >{{ title }}</a>
        </li>{% endfor %}
    </ul>
</div>

<h2>JSON files</h2>
<div>
    <ul>{% for title,link in menu %}
        <li>
            <a href="{{ link }}" >{{ title }}</a>
        </li>{% endfor %}
    </ul>
</div>
</body>
</html>
