<div class="grid header">
  <a href="{{ site.url }}/" class="grid_4 alpha">
    <img src="{{ site.url }}/img/phantomjs-logo.png" alt="PhantomJS" width="240" height="80">
  </a>
  <ul class="nav-main grid_8 omega">
    <li><a href="https://github.com/ariya/phantomjs">Source Code</a></li>
    <li><a href="{{ site.url }}/documentation">Documentation</a></li>
    <li><a href="{{ site.url }}/api">API</a></li>
    <li><a href="{{ site.url }}/examples">Examples</a></li>
    <li><a href="{{ site.url }}/faq">F.A.Q</a></li>
  </ul>
</div>
