html {
    height: 100%;
}

body {
    cursor: default;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-family: Lucida Grande, sans-serif;
    font-size: 11px;
    margin: 0;
    tab-size: 4;
    -webkit-user-select: none;
}

body.dock-to-right:not(.undocked) {
    border-left: 1px solid rgb(80, 80, 80);
}

body.dock-to-right.inactive:not(.undocked) {
    border-left: 1px solid rgb(64%, 64%, 64%);
}

* {
    -webkit-box-sizing: border-box;
}

:focus {
    outline: none;
}

img {
    -webkit-user-drag: none;
}

iframe, a img {
    border: none;
}

iframe.view {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hidden {
    display: none !important;
}

.monospace {
    font-size: 10px !important;
    font-family: monospace;
}

.resources-dividers {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    z-index: -100;
}

.resources-event-dividers {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    z-index: 300;
    pointer-events: none;
}

.resources-dividers-label-bar {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    background-clip: padding;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 20px;
    z-index: 200;
    pointer-events: none;
    cursor: move;
    overflow: hidden;
}

.resources-divider {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.resources-event-divider-padding {
    position: absolute;
    width: 8px;
    top: 0;
    bottom: 0;
    pointer-events: auto;
}

.resources-event-divider {
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    z-index: 300;
}

.resources-divider-label {
    position: absolute;
    top: 4px;
    right: 3px;
    font-size: 80%;
    white-space: nowrap;
    pointer-events: none;
}

.overview-grid-window-selector {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(125, 173, 217, 0.5);
    z-index: 250;
}

.overview-grid-window {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60px;
    z-index: 150;
}

.overview-grid-dividers-background {
    left: 0%;
    right: 0%;
    top: 0px;
    bottom: 60px;
    background-color: black;
    position: absolute;
}

.overview-grid-window-rulers {
    top: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
    border-right: 1px solid black;
    border-left: 1px solid black;
    z-index: 150;
    pointer-events: none;
}

.overview-grid-window-resizer {
    position: absolute;
    top: 0px;
    bottom: 60px;
    width: 5px;
    margin-left: -3px;
    margin-right: -2px;
    background-color: rgb(153, 153, 153);
    z-index: 500;
    cursor: ew-resize;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: white 1px 0 0, white -1px 0 0, white 0 1px 0, white 0 -1px 0;
}

/* Network timing is shared between popover and network item view pane */

.network-timing-row {
    position: relative;
    height: 16px;
}

.network-timing-bar {
    position: absolute;
    background-color: red;
    border-left: 1px solid red;
    opacity: 0.4;
    top: 0;
    bottom: 0;
}

.network-timing-bar-title {
    position: absolute;
    color: black;
    top: 1px;
}

.webkit-search-result {
    -webkit-border-radius: 4px;
    padding: 2px 2px 2px 3px;
    margin: -2px -2px -2px -3px;
    opacity: 0.8;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 3px 3px 4px;
    background-color: rgb(241, 234, 0);
    color: black;
}

.sidebar-separator {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)), color-stop(0.05, rgb(243, 243, 243)), color-stop(0.05, rgb(230, 230, 230)), to(rgb(209, 209, 209)));
    padding: 0 5px;
    border-top: 1px solid rgb(189, 189, 189);
    border-bottom: 1px solid rgb(189, 189, 189);
    color: rgb(110, 110, 110);
    text-shadow: white 0 1px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 11px;
}

.sidebar-label {
    font-size: 11px;
}

