body {
  font-family: Verdana;
  padding: 0px;
  color: #444;
}
h1 {
  color: #444;
  font-size: 14pt;
  font-style: italic;
  margin: 0px;
  padding: 5px;
}
.label {
  margin: 1px;
  padding: 5px;
  font-size: 11pt;
  width: 90px;
}
.inputtext {
  font-size: 11pt;
}
.button {
  margin: 1px;
  padding: 1px;
  font-size: 11pt;
}
