Source: phantomjs
Section: python
Priority: extra
Maintainer: Dennis Kaarsemaker <dennis@kaarsemaker.net>
Build-Depends: debhelper (>= 7), libqt4-dev (>= 4.6), libqtwebkit-dev, qt4-qmake, python-support (>= 0.6.4), python-all-dev (>= 2.5), python-qt4-dev, python-qt4
Standards-Version: 3.8.4
XS-Python-Version: >= 2.6
Vcs-Git: http://github.com/ariya/phantomjs

Package: phantomjs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: phantomjs - minimalistic headless WebKit-based JavaScript-driven tool
 PhantomJS is a minimalistic, headless, WebKit-based, JavaScript-driven tool.
 PhantomJs has native support for different web technologies: DOM handling,
 CSS selector, JSON, Canvas, SVG, and of course JavaScript.

Package: python-pyphantomjs
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-qt4, python-argparse
Description: phantomjs - minimalistic headless WebKit-based JavaScript-driven tool
 PhantomJS is a minimalistic, headless, WebKit-based, JavaScript-driven tool.
 PhantomJs has native support for different web technologies: DOM handling,
 CSS selector, JSON, Canvas, SVG, and of course JavaScript.
