#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	qmake-qt4
	$(MAKE)
	cd python && python setup.py build

override_dh_auto_install:
	$(MAKE) install
	mkdir -p debian/tmp/usr/bin
	cp bin/* debian/tmp/usr/bin
	cd python && python setup.py install --root=../debian/tmp --install-layout=deb

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) distclean; fi
	cd python && python setup.py clean
