.qmake.cache
/bin/*
config.status
config.tests
/lib/*
/mkspecs/default
/mkspecs/modules/qt_webkit_version.pri
/mkspecs/qconfig.pri
/mkspecs/qdevice.pri
/src/3rdparty/webkit/Source/JavaScriptCore/debug/
/src/3rdparty/webkit/Source/JavaScriptCore/release/
/src/3rdparty/webkit/Source/WebCore/debug/
/src/3rdparty/webkit/Source/WebCore/release/
/src/3rdparty/webkit/Source/WebCore/stn9W4J5
.pch
.uic
/src/corelib/global/qconfig.cpp
/src/corelib/global/qconfig.h
/src/corelib/global/qconfig.h.qmake
/src/tools/bootstrap/libbootstrap.*
