.description {
color:#43413e;
padding-bottom:2em
}

.description h2 {
color:#2ecbd6;
font-size:2.25em;
font-weight:700;
margin:1.5em 0;
text-align:center
}

.description h3 {
font-weight:700;
text-transform:uppercase
}

.description .feature {
font-size:.875em
}

#feature-end {
text-align:center;
margin:1.5em 0 0
}
