.intro-example {
border-radius:9px;
background:#373633
}

.intro-example pre {
margin:18px
}

.solarized {
color:#839496
}

.solarized .object {
color:#b58900
}

.solarized .function {
color:#268bd2
}

.solarized .literal {
color:#29a197
}

.solarized .comment {
color:#586e75
}
