<!doctype html>
<!--[if lt IE 7]>      <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">           <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21665893-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  {{ content }}

  <div class="footer">
    <div class="footer-content" class="grid">
      <p>
        &copy; Copyright 2010-{{site.time | date: "%Y"}} <a href="http://twitter.com/AriyaHidayat">Ariya Hidayat</a> &mdash; Homepage design by <a href="http://svay.com/">Maurice Svay</a> &mdash; Documentation design by <a href="http://twitter.com/fold_left">Jamie Mason</a>.
      </p>
    </div>
  </div>

</body>
</html>
