/*
Credits
Icons from: http://www.smashingmagazine.com/2011/12/29/freebie-free-vector-web-icons-91-icons/
*/
@import "reset.css";
@import "960_12_col.css";

body {
    font-family: 'Droid Sans', 'Lucida Grande', sans-serif;
    line-height: 1.125em;
}

#intro {
    background: #43413e;
    color: #FFF;
}
#header {
    height: 90px;
}

#logo {

}

#nav {
    text-align: right;
    padding-top: 36px;
}
    #nav li {
        display: inline;
    }
    #nav a {
        color: #e1e0dc;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 1em;
    }
    #nav a:hover {
        color: #FFF;
    }

#introduction {
    padding: 36px 0;
}
    #introduction a {
        color: #FFF;
    }
    
    #introduction h1 {
        color: #FFF;
        font-weight: bold;
        font-size: 2.25em;
        line-height: 1em;
        text-shadow: 0 -1px 0 #000;
        margin: 0 0 1em 0;
    }
    
    #introduction .explanation {
        margin: 1em 0 2em 0;
        font-size: 0.875em;
        color: #e1e0dc;
    }
    #introduction .action a {
        display: inline-block;
        line-height: 54px;
        color: #FFF;
        font-size: 1.5em;
        margin-right: 1em;
    }
    #download {
        text-decoration: none;
        height: 54px;
        padding: 0 1em;
        
        border: 1px solid #004513;
        border-radius: 4px;
        
        background: #7da21a;
        background: -moz-linear-gradient(top,  #afe225 0%, #7da21a 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afe225), color-stop(100%,#7da21a));
        background: -webkit-linear-gradient(top,  #afe225 0%,#7da21a 100%);
        background: -o-linear-gradient(top,  #afe225 0%,#7da21a 100%);
        background: -ms-linear-gradient(top,  #afe225 0%,#7da21a 100%);
        background: linear-gradient(top,  #afe225 0%,#7da21a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afe225', endColorstr='#7da21a',GradientType=0 );
        
        font-weight: bold;
        text-shadow: 0 -1px 0 #3d9700;
        box-shadow: ;
        
        -webkit-box-shadow: 
            inset 0px 2px 0px 0px #def67e,
            0px 2px 5px rgba(0,0,0,.2);
        -moz-box-shadow: 
            inset 0px 2px 0px 0px #def67e,
            0px 2px 5px rgba(0,0,0,.2);
        box-shadow: 
            inset 0px 2px 0px 0px #def67e,
            0px 2px 5px rgba(0,0,0,.2);
    }
    #download:hover {
        background: #97bd38;
        background: -moz-linear-gradient(top,  #bef038 0%, #97bd38 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bef038), color-stop(100%,#97bd38));
        background: -webkit-linear-gradient(top,  #bef038 0%,#97bd38 100%);
        background: -o-linear-gradient(top,  #bef038 0%,#97bd38 100%);
        background: -ms-linear-gradient(top,  #bef038 0%,#97bd38 100%);
        background: linear-gradient(top,  #bef038 0%,#97bd38 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bef038', endColorstr='#97bd38',GradientType=0 );
    }
        #download span {
            font-weight: normal;
        }
    
#intro-example {
    border-radius: 9px;
    background: #373633;
}
    #intro-example pre {
        margin: 18px;
    }

#community {
    background: #e1e0dc;
    color: #43413e;
    text-align: center;
    font-size: 1.125em;
    padding: 1.5em 0;
}
    #community h2 {
        font-weight: bold;
        display: inline-block;
    }
    #community ul {
        display: inline;
    }
    #community li {
        list-style: none;
        display: inline-block;
    }
    #community a {
        margin: 0 1.5em;
        color: #43413e;
        text-decoration: none;
    }
    #community a:hover {
        color: #000;
        text-decoration: underline;
    }
    #link-release,
    #link-ml,
    #link-bugs {
        display: inline-block;
        padding-left: 44px;
        height: 36px;
        line-height: 36px;
        background: url(images/icon-release.png) no-repeat 0 50%;
    }
    #link-ml {
        background: url(images/icon-ml.png) no-repeat 0 50%;
    }
    #link-bugs {
        background: url(images/icon-bugs.png) no-repeat 0 50%;
    }

#description {
    color: #43413e;
    padding-bottom: 2em;
}
    #description h2 {
        color: #2ecbd6;
        font-size: 2.25em;
        font-weight: bold;
        margin: 1.5em 0;
        text-align: center;
    }
    #description h3 {
        font-weight: bold;
        text-transform: uppercase;
    }
    #description .feature {
        font-size: 0.875em;
    }
    #feature-end {
        text-align: center;
        margin: 1.5em 0 0 0;
    }

#footer {
    background: #2ecbd6;
    color: #FFF;
    padding: 18px 0;
    font-size: .875em;
}
    #footer a {
        color: #FFF;
    }
    
/* Simplified solarized */
.solarized {
    color: #839496;
}
.solarized .object {
    color: #b58900;
}
.solarized .function {
    color: #268bd2;
}
.solarized .literal {
    color: #29a197;
}
.solarized .comment {
    color: #586e75;
}