<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
<key>CFBundleExecutable</key>
<string>phantomjs</string>
<key>CFBundleIdentifier</key>
<string>org.phantomjs</string>
<key>LSUIElement</key>
<string>1</string>
</dict>
</plist>
